n8n-workflow-memory-query.json
{
  "name": "Memory MCP Query",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "memory-query",
      "parameters": {
        "path": "memory-query",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      }
    },
    {
      "id": "set-manual",
      "name": "Set Manual Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "operation",
              "name": "operation",
              "value": "search",
              "type": "string"
            },
            {
              "id": "query",
              "name": "query",
              "value": "Household Planner",
              "type": "string"
            },
            {
              "id": "entityName",
              "name": "entityName",
              "value": "",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "set-webhook",
      "name": "Parse Webhook Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "operation",
              "name": "operation",
              "value": "={{ $json.body.operation || 'search' }}",
              "type": "string"
            },
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query || '' }}",
              "type": "string"
            },
            {
              "id": "entityName",
              "name": "entityName",
              "value": "={{ $json.body.entityName || '' }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 100],
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranchMode": "all"
      }
    },
    {
      "id": "if-search",
      "name": "Is Search?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, -60],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "combinator": "and",
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "search",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "if-entity",
      "name": "Is Entity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 100],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "combinator": "and",
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "entity",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "if-graph",
      "name": "Is Graph?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 260],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "combinator": "and",
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.operation }}",
              "rightValue": "graph",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "search-request",
      "name": "Search Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, -60],
      "parameters": {
        "method": "GET",
        "url": "=https://memory-mcp.45black-limited.workers.dev/api/search?q={{ encodeURIComponent($json.query) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "entity-request",
      "name": "Get Entity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 100],
      "parameters": {
        "method": "GET",
        "url": "=https://memory-mcp.45black-limited.workers.dev/api/entities/{{ encodeURIComponent($json.entityName) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "graph-request",
      "name": "Get Full Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 260],
      "parameters": {
        "method": "GET",
        "url": "https://memory-mcp.45black-limited.workers.dev/api/graph",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Set Manual Query", "type": "main", "index": 0}]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{"node": "Parse Webhook Input", "type": "main", "index": 0}]
      ]
    },
    "Set Manual Query": {
      "main": [
        [{"node": "Merge Inputs", "type": "main", "index": 0}]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [{"node": "Merge Inputs", "type": "main", "index": 1}]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {"node": "Is Search?", "type": "main", "index": 0},
          {"node": "Is Entity?", "type": "main", "index": 0},
          {"node": "Is Graph?", "type": "main", "index": 0}
        ]
      ]
    },
    "Is Search?": {
      "main": [
        [{"node": "Search Memory", "type": "main", "index": 0}],
        []
      ]
    },
    "Is Entity?": {
      "main": [
        [{"node": "Get Entity", "type": "main", "index": 0}],
        []
      ]
    },
    "Is Graph?": {
      "main": [
        [{"node": "Get Full Graph", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "memory-mcp-workflow"
  }
}
